################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64/Debug
/Debug/xll_array.tlog
/Debug
/Release
/x64/Release
