################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64/Debug
/Debug/xll_array.tlog
/Debug
/Release
/x64/Release
/x32/xll_array.exp
/x32/xll_array.lib
/x32/xll_array.pdb
/x64/xll_array.exp
/x64/xll_array.lib
/x64/xll_array.pdb
/xll_array/x64/Debug
